name: CD Pipeline

on:
  workflow_run:
    workflows: ["Docker Image CI"]
    types:
      - completed

jobs:
  build:
    runs-on: self-hosted
    steps:
    - name: Pull Docker Image
      run: sudo docker pull ${{ secrets.DOCKERHUB_REPO }}:latest
    - name: Delete Old Docker Container
      run: sudo docker rm -f hirable || true
    - name: Inject env variables
      run: |
        echo "PORT=${{ secrets.PORT }}" > .env
        echo "APP_ENV=${{ secrets.APP_ENV }}" >> .env
        echo "NODE_ENV=${{ secrets.NODE_ENV }}" >> .env
        echo "DB_PORT=${{ secrets.DB_PORT }}" >> .env
        echo "POSTGRES_URL=${{ secrets.POSTGRES_URL }}" >> .env
        echo "CORS_ORIGIN=${{ secrets.CORS_ORIGIN }}" >> .env
        echo "ACCESS_TOKEN_SECRET=${{ secrets.ACCESS_TOKEN_SECRET }}" >> .env
        echo "ACCESS_TOKEN_EXPIRES_IN=${{ secrets.ACCESS_TOKEN_EXPIRES_IN }}" >> .env
        echo "AWS_REGION=${{ secrets.AWS_REGION }}" >> .env
        echo "AWS_S3_BUCKET=${{ secrets.AWS_S3_BUCKET }}" >> .env
        echo "REDIS_URL=${{ secrets.REDIS_URL }}" >> .env
        echo "GMAIL_USER=${{ secrets.GMAIL_USER }}" >> .env
        echo "GMAIL_PASSWORD=${{ secrets.GMAIL_PASSWORD }}" >> .env
    - name: Run Docker Container
      run: sudo docker run -d -p 8080:8080 --name hirable --env-file .env ${{ secrets.DOCKERHUB_REPO }}:latest
